button
{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer; 
  transition: all 0.3s ease 0s;
  margin-right: 20px;
}

button:hover
{
  background-color: rgba(0,136,169,0.8);
}

.links span{
    color:  white;
    margin: 20px;
   
    font-family: sans-serif;
    font-size: 18px;
}

.logo{
    color: white;
    font-size: 13px;
    margin-left: 40px;
}