.mainheader{
   
    /* position: absolute; */
    /* top: 360px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    /* border: 1px solid teal */
    
}

.footer{
    background-color: red;
    position:relative;
    width: 100%;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    background: teal;
    display: flex;
    justify-content: center;
    
    
}


.mendiv{
   position: relative;

}
.mendivinner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}